node_modules
**/node_modules
.next
**/.next
.astro
**/.astro
dist
**/dist
.git
.github
.cache
.turbo
**/.turbo
logs
**/logs
*.log
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
coverage
**/coverage
.claude
.husky
