DATABASE_URL=postgresql://dvizh:dvizh@postgres:5432/dvizh
PAYLOAD_SECRET=gaNAkKuU3vm6IXQSMfcQzg36n1keTAQURx2Ugoj188U=
SERVER_URL=https://your-domain.com
WEB_URL=https://your-domain.com
CMS_URL=http://cms:3002
FORM_WEBHOOK_URL=
CLOUDFLARE_TUNNEL_TOKEN=
