---
/**
 * Lab New: Card — карточка
 */
const { title = "Заголовок", description = "Описание карточки", image = "" } = Astro.props
---

<div
  class="overflow-hidden rounded-2xl border border-white/20"
  style={image ? `background-image: url('${image}'); background-size: cover; background-position: center;` : `background-color: #d9d9d9299`}
>
  <div class="h-80 p-8 flex flex-col justify-between">
    <h3 class="text-[24px] font-medium text-gray-900 font-sans tracking-normal whitespace-pre-line">
      {title}
    </h3>
    <p class="text-base font-medium text-gray-600/70 font-sans tracking-normal">
      {description}
    </p>
  </div>
</div>
