---
import BaseLayout from './BaseLayout.astro'
import Header from '../components/layout/Header.astro'
import Footer from '../components/layout/Footer.astro'
import Drawer from '../components/ui/Drawer.astro'

interface Props {
  title?: string
  description?: string
  ogImage?: string
  jsonLd?: object | object[]
  /** Прозрачный хедер поверх контента */
  transparentHeader?: boolean
}

const { transparentHeader = false, ...baseProps } = Astro.props
---

<BaseLayout {...baseProps}>
  <Header transparent={transparentHeader} />
  <main class="flex-1">
    <slot />
  </main>
  <Footer />
  <Drawer />
</BaseLayout>
